@media only screen and (min-device-width: 1200px) {
  body {
    background: url('../resources/images/body_background_xlarge.jpg') no-repeat center center fixed;
  }
}

@media only screen and (min-device-width: 1000px) {
  body {
    background: url('../resources/images/body_background_large.jpg') no-repeat center center fixed;
  }
}

@media only screen and (min-device-width: 700px) {
  body {
    background: url('../resources/images/body_background_medium.jpg') no-repeat center center fixed;
  }
}

@media only screen and (max-device-width: 699px) {
  body {
    background: url('../resources/images/body_background_small.jpg') no-repeat center center fixed;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0
}

body {
  background-color: #595959;
  background-size: cover;
}

.container-fluid {
  height: 100%;
  display: table;
  width: 100%;
  padding: 0;
}

.row-fluid {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.jumbotron {
  background: rgba(0, 0, 0, 0);
}

.centering {
  float: none;
  margin: 0 auto;
}


h1.josh {
  font-family: 'Montserrat', sans-serif;
  color: #eee;
  text-shadow: 5px 5px 2px #000;
}

.aspiring {
  font-family: 'Montserrat', sans-serif;
  color: #eee;
  text-shadow: 3px 3px 2px #000;
}
